body {
  font-family:"Open Sans", "Arial", san-serif;
  margin: 0;
  color:@text-color;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color:@grey-27;
  text-decoration: none;
  &:hover {
    color:fade(@grey-27, 60%);
    text-decoration: none;
  }
  &:active {
    color:fade(@grey-27, 30%);
    text-decoration: none;
  }
}

li {
  list-style: none;
}

.container {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
