.offer {
  background-color: @grey-95;
  min-height: 175px;
}

.offer__title {
  text-align: center;
  color: @text-color--dark;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 76px;
}
