.goods-popular {
  position: relative;
}

.goods-popular__container-wrapper {
  width: 260px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 43px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 350px;
  }
}

.goods-popular__container {
  .container();
  position: relative;
}

.goods-popular__title {
  padding-top: 8px;
  margin-bottom: 3px;
  color: @text-color--dark;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.goods-popular__span {
  color: @aqua;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

.goods-popular__description {
  margin-top: 20px;
  font-size: 15px;
  line-height: 24px;
}

.goods-popular__details {
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 28px;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid @grey-90;
  }

  td {
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
      padding-left: 15px;
    }
  }
}


.goods-popular__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.goods-popular__button {
  margin-top: 10px;
  width: 260px;
  height: 51px;
  font-size: 17px;
  line-height: 20px;
}

.goods-popular__image {
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/*Для ширины планшета*/
@media @width-tablet {
  .goods-popular__container-wrapper {
    width: 768px;
    padding-bottom: 70px;

    &::after {
      height: 17px;
      background-size: contain;
    }
  }

  .goods-popular__wrapper {
    padding-right: 378px;
  }

  .goods-popular__title {
    margin-top: 31px;
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 53px;
  }

  .goods-popular__span {
    position: absolute;
    top: 20px;
    right: 22px;
    width: 80px;
    text-align: center;
  }

  .goods-popular__description {
    font-size: 17px;
    line-height: 30px;
  }

  .goods-popular__details {
    margin-top: 33px;

    td {
      &:last-child {
        padding-left: 0;
      }
    }
  }

  .goods-popular__image {
    width: 334px;
    height: 405px;
    position: absolute;
    z-index: -1;
    top: 115px;
    left: 330px;
    background-color: @grey-93;
  }

  .goods-popular__price {
    font-size: 20px;
    margin-top: 55px;
  }

  .goods-popular__button /*+ для компьютера*/ {
    margin-top: 15px;
    width: 289px;
  }
}

/*Для ширины компьютера*/
@media @width-desktop {
  .goods-popular__container-wrapper {
    width: 1150px;
    padding-bottom: 100px;

    &::after {
      height: 23px;
    }
  }

  .goods-popular__container {
    padding-left: 175px;
  }

  .goods-popular__wrapper {
    padding-right: 585px;
  }

  .goods-popular__title {
    margin-top: 115px;
    margin-bottom: 49px;
    font-size: 53px;
    line-height: 57px;
  }

  .goods-popular__span {
    top: 23px;
    left: 40px;
  }

  .goods-popular__description {
    margin-bottom: 40px;
  }

  .goods-popular__details {
    margin-top: 45px;
  }

  .goods-popular__image {
    width: 525px;
    height: 632px;
    position: absolute;
    z-index: -1;
    top: -43px;
    left: 527px;
    background-color: @grey-93;
  }

  .goods-popular__price {
    margin-top: 110px;
  }
}
