.goods-popup {
  .container();
  display: none;
  background-color: @white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -160px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  min-height: 340px;
  width: 320px;
  border: 1px solid @grey-93;
  box-shadow: 0 5px 10px 0 @grey-90;
  z-index: 50;

  input[type="radio"] {
    display: none;
  }
}

.goods-popup--show {
  display: block;
  -webkit-animation-name: show;
  animation: show;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes show {
  0% {
    transform: translateY(-220px);
  }
}

@keyframes show {
  0% {
    transform: translateY(-220px);
  }
}

.goods-popup__form-wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.goods-popup__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: @text-color--dark;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.goods-popup__form-title {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
}

.goods-popup__items-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.goods-popup__item-text {
  display: block;
  cursor: pointer;
  width: 78px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid @grey-93;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;

  &:hover {
    border-color: @grey-78;
  }

  &:active {
    border-color: @aqua;
  }
}

input[type="radio"]:checked + .goods-popup__item-text {
  border-color: @aqua;
}

.goods-popup__button {
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  background-color: @aqua;
  color: @text-color--light;
  width: 260px;
  height: 51px;
  font-size: 17px;
  line-height: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.goods-popup__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;
  background-color: @white;
  opacity: 0.9;

  &--show {
    display: block;
  }
}

/*Для ширины планшета и компьютера*/
@media @width-tablet {
  .goods-popup {
    width: 566px;
    height: 340px;
    margin-left: -284px;
    padding-top: 34px;
    padding-right: 108px;
    padding-left: 108px;
  }

  .goods-popup__wrapper {
    width: 370px;
  }

  .goods-popup__form-wrapper {
    width: 350px;
  }

  .goods-popup__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 57px;
  }

  .goods-popup__form-title {
    font-size: 17px;
    line-height: 30px;
  }

  .goods-popup__item-text {
    width: 108px;
  }

  .goods-popup__button {
    width: 350px;
  }
}
