.offer {
  background-color: @grey-95;
  min-height: 175px;
}

.offer__title {
  text-align: center;
  color: @text-color--dark;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 76px;
  margin: 0;
}

/*Для ширины планшета*/
@media (min-width: @width-tablet) {
  .offer {
    min-height: 230px;
  }

  .offer__title {
    font-size: 43px;
    line-height: 50px;
  }
}

/*Для ширины компьютера*/
@media (min-width: @width-desktop) {
  .offer {
    min-height: 260px;
  }

  .offer__title {
    font-size: 53px;
    line-height: 57px;
  }
}
