
.page-footer {
  min-height: 160px;
  padding-bottom: 15px;
  background-color: @grey-95;
}

.page-footer__image {
  display: none;
}

.page-footer__social {
  font-size: 0;
  border-bottom: 1px solid @grey-90;
  min-height: 80px;
}

.page-footer__copyright {
  min-height: 80px;
}

.page-footer__copyright-link {
  display: inline-block;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: @text-color--dark;
  padding-top: 29px;
}

.page-footer__copyright-link span {
  font-size: 0;
}

/*Для ширины планшета и компьютера*/
@media (min-width: @width-tablet) {
  .page-footer {
    min-height: 143px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__image {
    display: inline-block;
    height: 143px;
    width: 167px;
    outline: 1px solid red;
  }

  .page-footer__social {
    border-bottom: none;
    height: 143px;
    width: 167px;
    outline: 1px solid red;
  }

  .page-footer__copyright {
    height: 143px;
    width: 185px;
    outline: 1px solid red;
  }

  .page-footer__copyright-link {
    padding-top: 63px;
  }
}
