.production {
  .container();

  border: 1px solid @grey-93;
  padding-bottom: 33px;
  margin-bottom: 56px;
  min-height: 500px;

  &:hover {
    box-shadow: 0 0 10px 0 @grey-90;
  }

  &:active {
    box-shadow: 0 0 5px 0 @grey-90;
  }
}

.production__headline {
  min-height: 95px;
}

.production__headline-title {
  display: inline-block;
  margin-left: 90px;
  padding-top: 10px;
  width: 131px;
  color: @text-color--dark;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.production_description-text {
  font-size: 13px;
  line-height: 24px;
  padding: 0;
  magin: 0;
  margin-top: 20px;
  padding-left: 33px;
  width: 220px;
}

.production__description-button {
  margin-left: 35px;
  margin-top: 15px;
  width: 191px;
  height: 53px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 16px;
}

/*Для ширины планшета*/
@media @width-tablet {
  .production {
    position: relative;
    width: 668px;
    min-height: 746px;
    margin-bottom: 66px;
  }

  .production__wrapper {
    position: relative;
    display: block;
    width: 668px;
    min-height: 290px;
    padding-top: 456px;
  }

  .production__headline-title {
    width: 250px;
    font-size: 20px;
    padding-top: 25px;
    margin-left: 105px;
  }

  .production__container {
    padding-top: 0;
    padding-left: 40px;
  }

  .production_description-text {
    font-size: 15px;
    line-height: 30px;
    width: 585px;
    padding: 0;
    margin-top: 0;
  }

  .production__video-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 460px;
  }

  .production__description-button {
    width: 585px;
    margin-top: 25px;
    margin-left: 0;
  }
}

/*Для ширины компьютера*/
@media @width-desktop {
  .production {
    position: relative;
    width: 1050px;
    min-height: 460px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 0;
  }

  .production__wrapper {
    position: relative;
    display: block;
    width: 368px;
    min-height: 455px;
    padding-top: 0;
    padding-left: 682px;
  }

  .production__headline-title {
    width: 158px;
    font-size: 20px;
    margin-top: 68px;
    margin-left: 80px;
  }

  .production__container {
    padding-top: 0;
    padding-left: 80px;
  }

  .production_description-text {
    font-size: 15px;
    line-height: 30px;
    width: 238px;
    padding: 0;
    margin-top: 15px;
  }

  .production__video-image {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 682px;
    height: 100%;
  }

  .production__description-button {
    width: 231px;
    margin-top: 30px;
    margin-left: 0;
  }
}
