.products {
  padding-top: 30px;
  background-color: @white;
}

.products__container {
  .container();
}


.products-info__wrapper {
  margin-top: 10px;
}

.products__item {
  border: 1px solid @grey-93;
  margin-bottom: 28px;
  min-height: 374px;

  &:hover {
    box-shadow: 0 0 10px 0 @grey-90;
  }

  &:active {
    box-shadow: 0 0 5px 0 @grey-90;
  }
}

.products__item:last-child {
  min-height: 400px;
}

.products__title {
  color: @text-color--dark;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0;
  padding-right: 30px;
}

.products__description {
  font-size: 13px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.products__offer {
  border-top: 1px solid @grey-93;
  width: 206px;
  display: flex;
  justify-content: space-between;
}

.products__price {
  color: @text-color--dark;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.products-info__container {
  padding-left: 28px;
  min-width: 206px;
}

/*Для ширины планшета*/
@media @width-tablet {
  .products {
    padding-top: 70px;
  }

  .products__item {
    display: flex;
    width: 668px;
    min-height: 300px;
    margin-bottom: 50px;
  }

  .products__item:last-child {
    min-height: 334px;
  }

  .products__image {
    width: 334px;
    height: 100%;
    background-color: @grey-95;
  }

  .products__title {
    font-size: 20px;
  }

  .products__title--toy-basket {
    width: 241px;
  }

  .products__description {
    font-size: 15px;
  }

  .products__offer {
    width: 272px;
    margin-bottom: 5px;
  }

  .products__price {
    font-size: 17px;
    margin-top: 20px;
  }

  .products-info__container {
    width: 334px;
    min-height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*Для ширины компьютера*/
@media @width-desktop {
  .products {
    padding-top: 110px;
  }

  .products__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .products-info__wrapper {
    margin-top: 0;
    min-height: 124px;
  }

  .products__item {
    display: inline-block;
    width: 317px;
    min-height: 662px;
    margin-bottom: 30px;
  }

  .products__item:last-child {
    min-height: 662px;
  }

  .products__image {
    width: 316px;
    height: 462px;
  }

  .products__offer {
    width: 260px;
    margin-bottom: 15px;
  }

  .products-info__container {
    width: 315px;
    min-height: 197px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
