.reviews {
  padding-top: 15px;
}

.reviews__container-wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 350px;
  }
}

.reviews__container {
  .container();
  position: relative;
}

.reviews__title {
  color: @text-color--dark;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.reviews-wrapper {
  width: 260px;
}

.reviews__description {
  margin: 0;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author {
  color: @text-color--dark;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  font-style: normal;
}

.reviews__link {
  display: inline-block;
  padding-top: 5px;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 32px;
}

.reviews__slider {
  display: flex;
  flex-wrap: nowrap;
}

.reviews__slider-button {
  position: relative;
  width: 130px;
  height: 52px;
  border: 1px solid @grey-93;

  &:hover {
    background-color: @text-color--light;
  }
}

.reviews__slider-button:hover .reviews__icon {
  opacity: 0.5;
}

.reviews__slider-button:active .reviews__icon {
  opacity: 0.2;
}

.reviews__icon {
  position: absolute;
  width: 54px;
  height: 28px;
  left: 40px;
  top: 10px;
}

.reviews__button {
  width: 260px;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
  margin-top: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
}


/*Для ширины планшета*/
@media @width-tablet {
  .reviews {
    padding-top: 62px;
  }

  .reviews__container {
    width: 768px;
    padding: 0 50px;
  }

  .reviews__container-wrapper {
    width: 768px;
    padding-bottom: 105px;

    &::after {
      height: 17px;
      background-size: contain;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__description {
    padding-top: 12px;
    padding-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
    width: 650px;
  }

  .reviews__author {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
  }

  .reviews__slider {
    position: absolute;
    left: 545px;
    top: 250px;
  }

  .reviews__slider-button {
    margin-top: 30px;
    width: 88px;
    border: none;
  }

  .reviews__icon {
    position: absolute;
    width: 54px;
    height: 28px;
    left: 20px;
    top: 10px;
  }

  .reviews__button {
    margin-top: 0;
    width: 175px;
    position: absolute;
    left: 545px;
    top: 0;
  }

  .reviews__container::before {
    content: "";
    position: absolute;
    width: 351px;
    height: 455px;
    background-color: @grey-93;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 351px 455px;
    z-index: -1;
    top: -70px;
    left: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2px.jpg");
    }
  }
}

/*Для ширины компьютера*/
@media @width-desktop {
  .reviews__container {
    .container();
    position: relative;
    padding-left: 175px;
  }

  .reviews__container-wrapper {
    width: 1050px;
    padding-bottom: 155px;

    &::after {
      height: 23px;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__description {
    padding-top: 5px;
    padding-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
    width: 780px;
  }

  .reviews__author {
    display: inline-block;
    font-size: 17px;
    margin-top: 0;
  }

  .reviews__slider {
    position: absolute;
    left: 880px;
    top: 230px;
  }

  .reviews__slider-button {
    margin-top: 5px;
    width: 88px;
  }

  .reviews__button {
    margin-top: 10px;
    width: 175px;
    position: absolute;
    left: 880px;
    top: 0;
  }

  .reviews__container::before {
    content: "";
    position: absolute;
    width: 351px;
    height: 455px;
    background-color: @grey-93;
    z-index: -1;
    top: -70px;
    left: 0;
  }
}
